	header{background-image:url(../pics/login_header.png);}
	section.body {width:946px;height:472px;margin:0 auto; background:url(../pics/login_bg.jpg) no-repeat;padding-top: 30px;position: relative;}
	h2 {color: #fff;font-size:30px;position: absolute;top:30px;left:45px;font-weight: normal;line-height: 30px;}
	img {width:100%;}	
	h1{padding-top:108px;font-size:20px; line-height:20px;color:#fff;}
	footer{width:948px;margin:10px auto -10px;text-align: center;}
	span.left{float:left;width:160px;height: 560px;background:url(../pics/home_side.jpg);}
	span.right{float:right;width:160px;height: 560px;background:url(../pics/home_side.jpg);}	
	section.login {position:absolute;top:50%;left:50%;background: #f1f1f1;width:360px;height:160px;border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;margin:-80px 0 0 -180px;border:1px solid #bcdefd; }
	h3 {background:#dcdcdc;height:25px;line-height:25px;padding-left:10px;border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;}
	input.login {width:220px;height:20px;border:solid 1px #c1c1c1;padding: 0 3px;}
	label.login {width:95px;height:20px;line-height:20px;text-align:right;display:inline-block;}
	span {color:#ff0000;}
	div.username {margin:25px 0 5px 0;}
	form{position: relative;}
	strong{position: absolute;top:82px;left:119px;color:#f00;font-size:14px;}
	input.submit {background: #0ca1cb;border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;width:75px;height:20px;border:1px solid #8e8f8f;color:#fff;margin :32px 0 0 265px;}
	input.error {border:1px solid #cc3300;}
	input.focus {border:1px solid #777;}
	
	#captcha_div{position: relative}
	#captcha{width:55px;height:21px;position: absolute;top:5px;left:199px;}
	#captcha_id{width:80px;position:absolute;top:5px;left:99px;}				
	#captcha_label{position: absolute;top:5px;left:1px;}