		tr.selected{background:#f00;}
		section.que_fliter{width:926px;height:860px;margin:0 auto; background:#c0c0c0;padding: 10px;}
		span.left{float:left;width:160px;height:940px;background:url(../pics/home_side.jpg) no-repeat #093d86;}
		span.right{float:right;width:160px;height:940px;background:url(../pics/home_side.jpg) no-repeat #093d86;}
		form.myForm{background:url(../pics/scan_fliter.png) no-repeat;width:853px;height:144px;margin:0 auto;}
		form.myForm label{font-size:15px;margin-right:5px;font-weight: bold;}
		div.select{ float:left;margin:16px 16px 10px 60px;}
		#select_status{position: absolute;top:240px;left:283px;}
		#select_condition{position: absolute;top:241px;left:496px;}
		#select_order{position: absolute;top:240px;left:780px;}
		input.biuuu1,input.biuuu2{width:100px;}
		input.biuuu1{margin-right:65px;}
		input.submit{margin:66px 362px;background: url(../pics/canvas.png) 0 -52px no-repeat;width:126px;height:40px;border:none;color:#fff;font-size:20px;line-height: 20px;font-weight:bold;}
		section.scan{background: url(../pics/question_scan.png) no-repeat;width:551px;height:594px;margin-top: 50px;position:relative;float:left;}
		table.scan{width:527px;}
		table.scan,table.scan th,table.scan td {border:1px solid #fff;padding:0 3px;text-align: center;font-weight:bold;}
		table.scan{position:absolute;top:39px;left:11px;}
		table.scan tr.th th{background:#4f81bd;color:#fff;height:24px;line-height: 24px;}
		table.scan tr:hover{background:yellow;}
		table.scan tr td{height:24px;line-height: 24px;}
		table.scan tr.th th.first{width:50px;}
		table.scan tr.th th.second{width:160px;}
		table.scan tr.th th.third{width:80px;}
		table.scan tr.th th.fourth{width:65px;}
		table.scan tr.th th.fifth{width:65px;}
		table.scan tr.th th.sixth{width:65px;}
		.not_audit{background: #ff50a8;}
		.pass_audit{background: #ffd850;}
		.need_audit{background: #ffa0a0;}
		.use{background: #cceedd;}
		.delete{background: #c8c8ff;}
		table.scan tr.th{border-bottom: 5px solid #fff;}
		input.first,input.last,input.pre,input.next,input.redirect,span.current,span.total{position:absolute;width:44px;bottom:45px;}
		input.first{left:20px;border:none;background:none;}
		input.last{left:246px;border:none;background:none;}
		input.pre{left:66px;border:none;background:none;width:54px;}
		input.next{left:192px;border:none;background:none;width:54px;}
		input.redirect{left:150px;border:none;background:none;}
		span.current{left:438px;}
		span.total{left:484px;}
		table.footer{hieght:24px;line-height: 24px;width:523px;}
		table.footer tr th{border:1px solid #fff;text-align: center;}
		div.table_footer{border:1px solid #000;border-right: none;position: absolute;bottom:15px;left:10px;width:523px;height:26px;}
		section.question_scan{background: url(../pics/four.jpg) no-repeat;width:371px;height:605px;float:right;margin:42px 0 0 0px;position: relative;color:#4d2828;font-weight:bold;}
		h4{width:94px;margin:0 auto;font-weight:normal;font-size:16px;height:20px;line-height:20px;}
		input.pagination{position:absolute;bottom:45px;width:20px;left:126px;height:12px;}
		div.hidden{position:absolute;width:100px;height:20px;bottom:45px;left:126px;background: #fafafa;}
		div.answer1,div.answer2,div.answer3,div.answer4,div.answer5,div.answer6,div.answer7,div.answer8{position:absolute;text-align: center;}
		div.question{width:14em;height:110px;position:absolute;top:168px;left:90px;font-size:14px;line-height: 24px;}
		div.answer1{top:375px;left:67px;}
		div.answer2{top:375px;left:142px;}
		div.answer3{top:375px;left:217px;}
		div.answer4{top:375px;left:291px;}
		div.answer5{top:433px;left:67px;}
		div.answer6{top:433px;left:142px;}
		div.answer7{top:433px;left:217px;}
		div.answer8{top:433px;left:291px;}
		div.one,div.two,div.three,div.four{position:absolute;width:6em;text-align: center;}
		div.one{top:375px;left:77px;}
		div.two{top:375px;left:219px;}
		div.three{top:431px;left:77px;}
		div.four{top:431px;left:219px;}
		input.audit_form_pass_submit{position:absolute;left:32px;top:552px;background:url(../pics/canvas.png) 0 -288px no-repeat;width:96px;height:31px;border:none;color:#fff;line-height: 31px;font-weight:bold;padding-bottom:4px;}
		input.audit_not_pass,input.audit_edit{background:url(../pics/canvas.png) 0 -288px no-repeat;width:96px;height:31px;color:#fff;position: absolute;left:100px;top:552px;z-index: 9;line-height: 30px;border:none;font-weight:bold;padding-bottom:4px;}
		input.audit_not_pass{left:138px;}
		input.audit_edit{left:247px;}
		img.img_preview{position:absolute;top:200px;left:78px;width:216px;height:110px;}
		footer{width:948px;margin:10px auto -10px;text-align: center;}
		input.disabled{background: url(../pics/canvas.png) -188px -42px;color:#888888;}
		table tr:hover{cursor:default;}
