	span.left{float:left;width:160px;height: 670px;background:url(../pics/home_side.jpg) no-repeat #093d86;}
	span.right{float:right;width:160px;height:670px;background:url(../pics/home_side.jpg) no-repeat #093d86;}
	footer{width:948px;margin:9px auto;text-align: center;}
	section.middle {background:#cfcfcf;padding:55px 55px 30px 55px;}
	section.content{background:url(../pics/system.png) no-repeat;width:793px;height:494px;position:relative;margin:0 auto;padding:20px 20px 0 40px;}
	section.middle ul{width:115px;}
	section.middle ul li{float:left;background:#093d86;height:28px;width:115px;text-align: center;line-height: 28px;font-size:14px;font-weight:bold;margin-bottom:5px;}
	li.statistics{margin-top: 30px;}
	li.statistics_date{}
	li.statistics_auditexam{}
	li.statistics_origin{}
	li.statistics_type{}
	li.statistics_difficulty{}
	li.statistics_questiontype{}
	li.statistics_theme{}
	li.statistics_pics{}
	h3{position: absolute;top:-27px;left:352px;background:url(../pics/canvas.png) 0 -407px no-repeat;width:115px;height:28px;text-align: center;line-height: 28px;}
	section.middle ul li a{color:#fff;}
	section.middle ul li a:hover{text-decoration: underline;}
	table{width:630px;margin-left: 150px;text-align: center;}
	table th{background:#4f81bd;border-bottom:5px solid #fff;height:24px;line-height:24px;padding:0 8px;color:#fff;font-weight:bold;text-align: center;}
	table td{border-bottom: 2px solid #fff;height:20px;line-height: 20px;padding:0 8px;}
	table tr.odd{background:#d0d8e8;}
	table tr.even{background:#e9edf4;}
	table tr:hover{background-color:yellow;cursor:default;}