	span.left{float:left;width:160px;height:680px;background:url(../pics/home_side.jpg) no-repeat #093d86;}
	span.right{float:right;width:160px;height:680px;background:url(../pics/home_side.jpg) no-repeat #093d86;}
	section.middle {background:#cfcfcf;padding:40px 0 55px;}
	section.content{background:url(../pics/system.png) no-repeat;width:853px;height:494px;margin:0 auto;}
	section.middle ul{width:625px;margin:0 auto;height:27px;}
	section.middle ul li{float:left;background:url(../pics/canvas.png) 0 -407px no-repeat;height:28px;width:115px;margin:0px 0 0 10px;text-align: center;line-height: 28px;font-size:16px;font-weight:bold;}
	section.logsec,section.subsec,section.offsec{padding: 15px 15px;}
	table{width:100%;margin-top:10px;}
	table th{background:#4f81bd;border-bottom:5px solid #fff;height:24px;line-height:24px;padding:0 8px;color:#fff;font-weight:bold;}
	table td{border-bottom: 2px solid #fff;height:20px;line-height: 20px;padding:0 8px;}
	table tr.odd{background:#d0d8e8;}
	table tr.even{background:#e9edf4;}
	table tr:hover{background-color:yellow;cursor:default;}
	button {background: url(../pics/canvas.png) -959px -37px no-repeat;width:51px;height:22px;border:none;text-align: center;padding:0px;line-height: 22px;color:#fff;}
	button.selected,button:hover{background: url(../pics/canvas.png) -959px -3px no-repeat;}
	div.touse{width:100%;text-align: center;}
	input.touse{background: url(../pics/canvas.png) 0 -52px no-repeat;width:126px;height:40px;border:none;color:#fff;margin:9px auto;}
	ul li a{color:#000;}
	ul li a:hover{text-decoration: underline;}
	footer{width:948px;margin:10px auto -10px;text-align: center;}
	li a.selected{color:#3ec1ef;}